html, body { height: 100%; width: 100%; overflow: hidden; }

.metric-wrapper {
  padding-left: 55px;
  position: relative;
}

.metric-wrapper progress {
  width: calc(100% - 20px);
}

.nes-progress {
  height: 20px !important;
  margin: 0 !important;
}

.will-change-large {
  /* color: red; */
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

.will-change {
  /* color: yellow; */
  -webkit-animation: color-change 1s infinite;
  -moz-animation: color-change 1s infinite;
  -o-animation: color-change 1s infinite;
  -ms-animation: color-change 1s infinite;
  animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { color: white; }
    50% { color: black; }
    100% { color: white; }
}
@-moz-keyframes color-change {
    0% { color: white; }
    50% { color: black; }
    100% { color: white; }
}
@-ms-keyframes color-change {
    0% { color: white; }
    50% { color: black; }
    100% { color: white; }
}
@-o-keyframes color-change {
    0% { color: white; }
    50% { color: black; }
    100% { color: white; }
}
@keyframes color-change {
    0% { color: white; }
    50% { color: black; }
    100% { color: white; }
}

.leaflet-tile-container img {
  filter: sepia(.7);
}

.metric-wrapper .metric-icon {
  position: absolute;
  left: 7px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.app-metrics {
  color: #fff;

  z-index: 3;

}

.metric-wrapper {
  background-color: #212529;
  /* box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75); */
}

.app-cards {
  overflow: visible;
  z-index: 1;
  /* box-shadow: -5px 0px 10px 0px rgba(0,0,0,0.75); */
}













#card_stack_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

#card_stack .message-left,
#card_stack .message-right {
  display: none;
  padding: 5px;
  position: absolute;
  z-index: 4;
  left: 5px;
  right: 5px;
  color: black;
}

#card_stack .message-right {
  text-align: right;
  right: 0;
}

#card_stack .dragging-left .message-left,
#card_stack .dragging-right .message-right {
  display: block;
}



#card_stack_message{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #212529;
  color: white;
  padding: 30px;
  position: relative;
}
#card_stack_message:before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  z-index: -1;
  border-right: 40px solid #212529;
  border-top: 150px solid transparent;
}
#card_stack_message:after {
  content: "";
  position: absolute;
  right: -40px;
  top: 0;
  z-index: -1;
  border-left: 40px solid #212529;
  border-top: 150px solid transparent;
}

#card_stack {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  overflow: visible;
}
#card_stack .card {
  border: 2px solid white;
  width: 320px;
  height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1%;
  filter: drop-shadow(25px 25px 25px black);
  background-color: white;
  transform: translateX(-50%) translateY(-50%) scale(0.95);
  background-position: center center;
  background-repeat: no-repeat;
}

.entry-screen {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-image {
  z-index: 2;
  background-size: 90% 90% !important;
  background-repeat: no-repeat !important;
  background-position: 50% 220% !important;
}
.card-color {
  z-index: 1;
}

.leaflet-marker-icon {
  filter: drop-shadow(2px 2px 0 black) drop-shadow(-2px -2px 0 black);
}

.marker-tree,
.marker-tree_large,
.marker-tree_small {
  z-index: 1 !important;
}

.karma-wrapper {
  display: flex;
}
.karma-wrapper .positive{
  width: 50%;
  float: right;
  padding-left: 4px;
}
.karma-wrapper .negative{
  transform: rotate(180deg);
  width: 50%;
  float: left;
}

.nes-progress.is-opinion::-webkit-progress-bar {
    background-color: #fff
}

.nes-progress.is-opinion::-webkit-progress-value {
    background-color: #6853A3
}

.nes-progress.is-opinion::-moz-progress-bar {
    background-color: #6853A3
}

.nes-progress.is-opinion::-ms-fill {
    background-color: #6853A3;
    border: none
}
.nes-progress.is-wealth::-webkit-progress-bar {
    background-color: #fff
}

.nes-progress.is-wealth::-webkit-progress-value {
    background-color: #e48e22
}

.nes-progress.is-wealth::-moz-progress-bar {
    background-color: #e48e22
}

.nes-progress.is-wealth::-ms-fill {
    background-color: #e48e22;
    border: none
}
.nes-progress.is-enviroment::-webkit-progress-bar {
    background-color: #fff
}

.nes-progress.is-enviroment::-webkit-progress-value {
    background-color: #6cab22
}

.nes-progress.is-enviroment::-moz-progress-bar {
    background-color: #6cab22
}

.nes-progress.is-enviroment::-ms-fill {
    background-color: #6cab22;
    border: none
}

.app-map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.metric-wrapper:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  z-index: -1;
  border-right: 20px solid #212529;
  border-bottom: 80px solid transparent;
}
.metric-wrapper:after {
  content: "";
  position: absolute;
  right: -20px;
  z-index: -1;
  top: 0;
  border-left: 20px solid #212529;
  border-bottom: 80px solid transparent;
}

.metric-wrapper label {
  margin-top: 12px;
  margin-bottom: 0;
}

.metric-karma {
  z-index: 100;
}
.metric-karma .karma-bad,
.metric-karma .karma-good {
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;

}
.metric-karma .karma-bad {
  background-size: 34px;
  background-position: 20px;
}

.karma-container {
  background-color: #212529;
}

.karma-value {
  width: calc(50vh - 100px);
  transform: translate(29px, 0) rotate(-90deg);
}
.metric-karma .karma-good:before {
  content: "";
  position: absolute;
  top: -20px;
  z-index: -1;
  border-left: 80px solid #212529;
  border-top: 20px solid transparent;
}
.metric-karma .karma-bad:after {
  content: "";
  position: absolute;
  bottom: -20px;
  z-index: -1;
  border-left: 80px solid #212529;
  border-bottom: 20px solid transparent;
}

.modal-content,
.ui-element-style {
  filter: drop-shadow(5px 10px 15px black);
}

.week-content {
  text-align: center;
  font-size: 28px;
  filter: drop-shadow(5px 10px 15px black);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff33;
}
